/* Styles for form container */

/* Styles for form labels */
.label {
  font-weight: bold;
  color: rgb(255, 255, 255);
 
}

/* Styles for form inputs */
input[type="varchar"],
input[type="char"],
input[type="year"],
input[type="float"],
input[type="text"],
input[type="date"]
{
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styles for submit button */
.btnid {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnid:hover {
  background-color: #45a049;
}
.col-75
{
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.container {
  position: relative;
  z-index: 1;
  padding: 18px;
  margin-top: 25vh; /* Adjusted to center vertically */
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  color: #fff; /* Text color */
  backdrop-filter: blur(10px); /* Blur effect for transparency */
  max-width: 500px;
  margin: 0 auto;
  

}